body {
    background-color: bisque;

.header  {
    background-color: #d9b38c;
    padding: 20px;
}

}

h1 { 
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    line-height: 1.6;
    color: blue;
    margin-bottom: 10px;
}

blockquote {
    background-color: yellow;
    border: 1px dashed black;
    text-align: center;
    padding: 10px;
    margin: 0 auto 20px;
    width: 80%;
    font-style: italic;
}

a ul {
    text-decoration: none;
    color: purple;
    margin: 0 10px;
}


p::first-letter  {
    font-size: 3em;
    color: blue;
    float: left;
    line-height: 1;
    padding-right: 8px;
    font-weight: bold;
}

.gambar  {
    text-align: center;
    width: 200;
}

.koleksi img {
    width: 23;
}

.promo {
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    margin: 0 auto 20px;
    width: 80%;
}