header{
    background-color: aqua;
    margin: -10px;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}
header li{
    margin: 0 1em;
}
header li.logo{
    margin-right: auto;
}
header img.logo{
    width: 50px;
}
nav {
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav li{
    padding: 10px;
}